.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: gray;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: WhiteSmoke;
    color: red;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; }

body {
  background: #f8f8f8;

}

.card-section{
  background: #f8f8f8;
  border: solid;
  border-radius: 25px;
  border-width: 1px;
  margin-top: .5em;
  margin-bottom: 1em;
}

.content {
  margin-bottom: 1em;
}


.wibble {
  font-size: 75%;
  color: grey;
  float: left;
}

.top-buffer { margin-top:5px; }

.notes {
  background: #FFFFAA;
  border: solid;
  border-radius: 25px;
  border-width: 1px;
  margin-top: .5em;

}

.action-type a {
  border: solid;
  border-width: 1px;
  color: gray;
}
.action-type a selected {
  background-color: red;
}


.card {
  background: white;
  border: solid;
  border-radius: 25px;
  border-width: 1px;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding: .5em;
  padding-bottom: 1em;
  box-shadow: 10px 10px 5px #888888;
}


.bottom-border {
  border-bottom: solid;
  border-width: 1px;
}
